<form action="/add" method="POST">
    <p>Tìtulo: </p>
    <input type="text" name="titulo">
    <p>Conteùdo: </p>
    <textarea name="conteudo"></textarea>
    <button type="submit">Cadastrar postagem</button>
</form>